</body>
<footer class="white-section" id="footer">
  <div class="white-section-position">
<div class="end-part">
  <div class="end-part-subscription">
    <img class="foot-logo" src="image/oo.png" alt="logo">
    <h5 class="subsribe-heading">Subscribe for deals,<br />offers & upcoming events</h5>
<div class="ft-link">
  <div class="row">
    <ul class="footer-link1">
           <li class="nav-item">
             <a class="nav-link" href="/">HOME</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/menu">MENU</a>
           </li>
         </ul>
         <ul class="footer-link1">
                <li class="nav-item">
                  <a class="nav-link" href="/order">ORDER</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catering">CATERING</a>
                </li>
              </ul>
              <ul class="footer-link1">
                     <li class="nav-item">
                       <a class="nav-link" href="/location">LOCATION</a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/about">ABOUT</a>
                     </li>
                   </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="subscription">
    <div class="row">
      <form class="control-group" action="/s" method="POST">
      <div class="controls">
        <div class="input-prepend">
          <input style="padding-bottom:-10%" class="btn btn-outline-light span2" id="inputIcon" type="text" name="email" placeholder="Email" required>
          <button class="btn btn-warning btn-large addtc" href="/about"><i class="social-icon fas fa-envelope"></i></button>
        </div>
      </div>
    </form>
  <div class="social addtc">
<a href="https://github.com/cruse1914" style="color:yellow;"><i class="social-icon fab fa-github"></i></a>
</div>
  <div class="social1 addtc">
<a href="https://www.linkedin.com/in/cruse1914/" style="color:yellow;"><i class="social-icon fab fa-linkedin" href=""></i></a>
</div>
  <div class="social2 addtc">
  <a href="https://www.instagram.com/cruse1914/" style="color:yellow;"><i class="social-icon fab fa-instagram" href=""></i></a>
  </div>
</div>
</div>
      <p class="Copyright">© Golden Momo Since 2020</p>
</div>
  </footer>
</html>
