<%- include('partials/header') %>

  <section class="first" id="home">
      <div class="second">
        <img class="parallax" src="image/(1).jpg" alt="">
        <div class="second-text">
          <!-- Nav Bar -->
        <div class="toplogo">
         <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
         </div>
             <nav class="navbar navbar-expand-lg navbar-dark">

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                   <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                 <ul class="navbar-nav">
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/main1">HOME</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/menu1">MENU</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/order1">ORDER</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link1" style="color:white;" href="/catering1">CATERING</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link2" style="color:white;" href="/about1">ABOUT</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link3" style="color:white;" href="/location1">LOCATION</a>
                   </li>
                 </ul>

               </div>
             </nav>
     <div class="about-us">
       <h2>About Me</h2>
       <h4>Desires to cater to the growing needs of modern urban youth, with healthy and delicious food.<br />
         This company has been formed by three passionate young professionals having excellent education and long<br />
         careers in business management. Our mission is to serve people with healthy, steamed food and generate employment.<br />
       BD is a franchisee of Wow Momo Foods China and a chain of restaurants specializing in momos, dumplings, popular in<br />
       Nepal, China, parts of Tibet and India. Wow Momo targets to be one of the fastest growing International food chains<br />
       in Bangladesh and we already have 8 outlets in Dhaka. Our commercial operation starts from December 2018 onwards.<br />
       Product innovation and serving healthy food will be the key to our success. We cordially invite the prospective<br />
       investors to apply for franchisee at their targeted locations all over Dhaka.</h4><br /><br />
       <div class="">
       <a style="margin-left:10%;" href="https://github.com/cruse1914"><i style="" class="social-icon1 fab fa-github addtc"></i></a>
       <a style="margin-left:20%;" href="https://www.linkedin.com/in/cruse1914/"><i style="font-size:3vw;color:white;" class="social-icon1 fab fa-linkedin addtc"></i></a>
       <a style="margin-left:30%;" href="https://www.instagram.com/cruse1914/"><i style="font-size:3vw;color:white;" class="social-icon1 fab fa-instagram addtc"></i></a>
                     </div>
     </div>
     </div>
   </div>
 </section>
  <section style="margin-bottom:19%;">
  </section>

<%- include('partials/footer1') %>
