<%- include('partials/header') %>
<section class="first" id="home">
    <div class="second">
      <img class="parallax" src="image/(1).jpg" alt="">
</div>
      <div class="second-text second-text1">
       <div class="toplogo">
       <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
       </div><br><br><br>
   <div class="about-us">
     <h2>Payment</h2>
     <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />incididunt ut labore et dolore magna aliqua. </h4>
   </div>
   </div>
</section>
<section style="margin-bottom:-20%;">
  <div class="card" style="margin-left:28%;margin-top:10%;margin-bottom:24.5%;width:50%;">
    <h2 style="text-align:center;"><b>Choose Payment</b></h2>
    <a href="/checkout" class="btn btn-outline-dark">
      <div style="margin-left:5%;width:90%;margin-top:5%;margin-bottom:5%;">
        <h3><b>Payment By Card</b></h3>
      </div>
    </a>
    <a href="/ty" class="btn btn-outline-dark">
      <div style="margin-left:5%;width:90%;margin-top:5%;margin-bottom:5%;">
        <h3><b>Cash On Delivery</b></h3>
      </div>
    </a>
    </div>
</section>
