<%- include('partials/header') %>

  <section class="first" id="home">
      <div class="second">
        <img class="parallax" src="image/(1).jpg" alt="">
        <div class="second-text">
          <!-- Nav Bar -->
       <div class="toplogo">
         <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
       </div>
             <nav class="navbar navbar-expand-lg navbar-dark">

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                   <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                 <ul class="navbar-nav">
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/main1">HOME</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/menu1">MENU</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/order1">ORDER</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link1" style="color:white;" href="/catering1">CATERING</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link2" style="color:white;" href="/about1">ABOUT</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link3" style="color:white;" href="/location1">LOCATION</a>
                   </li>
                 </ul>

               </div>
             </nav>
     <div class="about-us">
       <h2>Location</h2>
       <h4>All locations open Mon - Thu, 8am - 11pm & Fri - Sun,<br>11am - 11pm</h4>
       <h4 style="margin-top:2%;">Late Night Momo Daily, 11pm - 3am.</h4>
     </div>
     </div>
   </div>
 </section>
  <section id="ab-about2">
    <div class="row">
   <div class="location">
     <h3><B>BROOKLYN</B></h3>
     <p>289 Wrong Street<br>Brooklyn,IN - 11231<br>(718) 555-1234</p>
   </div>
   <div class="location1">
     <h3><B>KINGS</B></h3>
     <p>47-33 Wrong Street<br>Long Island City,IN - 11101<br>(347) 555-1234</p>
   </div>
   <div class="location2">
     <h3><B>FOOD TRUCK</B></h3>
     <p>25 Wrong Street<br>Kolkata,IN - 10003<br>(917) 555-1234</p>
   </div>
 </div>
 <div class="media-inq">
   <h3><B>MEDIA INQUIRIES</B></h3>
   <p>(718) 555-1234</p>
   <a href="contact.momo@example.com">contact.momo@example.com</a>
 </div>
 <div class="pub-rel">
   <h3><B>PUBLIC RELATION</B></h3>
   <p>(718) 555-1234</p>
   <a href="contact.momo@example.com">contact.momo@example.com</a>
 </div><br><br><br>
 </section>

  <%- include('partials/footer1') %>
