<%- include('partials/header') %>

<section class="first" id="home">
    <div class="second">
      <img class="parallax" src="image/(1).jpg" alt="">
      <div class="second-text">
   <!-- Nav Bar -->
<div class="toplogo">
  <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
</div>
      <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="/">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="/menu">MENU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href="/order">ORDER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link1" style="color:white;" href="/catering">CATERING</a>
            </li>
            <li class="nav-item">
              <a class="nav-link2" style="color:white;" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link3" style="color:white;" href="/location">LOCATION</a>
            </li>
          </ul>

        </div>
      </nav>
     <h1>It's that<br>Simple.</h1>
     <h5>FEATURING OUR NEW<br />SPRING SPECIAL</h5>
        </div>
    </div>
</section>
<section class="second-section">
<h2 class="indian-momo"><b>Genuine Indian Momo:</b></h2>
<div class="genuine-indian-momo">
     <div class="momo-column row-lg-1 row-md-1">
       <div class="card avc" style="background-color:#a50022;">
         <div class="card-body avc">
              <div class="row geninm">
            <p style="color:white;font-size:1.5vw;margin-left:15%;"><b class="cc">KOTHEY MOMO</b></p><img class="geninmimg" src="image/chef.png" alt=""><p style="margin-top:1%;margin-left: 9%;color:#ffa628;font-size:1vw;"><b class="cc1 cc10">half steamed & pan freid</b></p><a class="cart-button cart-button0 btn btn-lg btn-warning" href="/order" type="button">
                BUY NOW
              </a>
            </div>
          </div>
        </div>
  </div>
       <div class="momo-column row-lg-1 row-md-1">
            <div class="card" style="background-color:#a50022;">
              <div class="card-body avc">
                <div class="row geninm1">
                <p style="color:white;font-size:1.5vw;margin-left:15%;"><b class="cc">STEAMED MOMO</b></p><img class="geninmimg1" src="image/chef.png" alt=""><p style="margin-top:1%;margin-left: 9%;color:#ffa628;font-size:1vw;"><b class="cc1">from the Himalayas</b></p><a class="cart-button cart-button1 btn btn-lg btn-warning" href="/order" type="button">
                  BUY NOW
                </a>
              </div>
            </div>
            </div>
          </div>
         <div class="momo-column row-lg-1 row-md-1">
              <div class="card" style="background-color:#a50022;">
                <div class="card-body avc">
                  <div class="row geninm2">
                  <p style="color:white;font-size:1.5vw;margin-left:15%;"><b class="cc">JHOL MOMO</b></p><img class="geninmimg2" src="image/chef.png" alt=""><p style="margin-top:1%;margin-left: 9%;color:#ffa628;font-size:1vw;"><b class="cc1">flavourful curry soup</b></p><a class="cart-button cart-button2 btn btn-lg btn-warning" href="/order" type="button">
                    BUY NOW
                  </a>
                </div>
              </div>
              </div>
            </div>
           <div class="momo-column row-lg-1 row-md-1">
                <div class="card" style="background-color:#a50022;">
                  <div class="card-body avc">
                    <div class="row geninm3">
                    <p style="color:white;font-size:1.5vw;margin-left:15%;"><b class="cc">SANDHEKO MOMO</b></p><img class="geninmimg3" src="image/chef.png" alt=""><p style="margin-top:1%;margin-left: 9%;color:#ffa628;font-size:1vw;"><b class="cc1">Spicy and tangy</b></p><a class="cart-button cart-button3 btn btn-lg btn-warning" href="/order"  type="button">
                      BUY NOW
                    </a>
                </div>
                </div>
              </div>
            </div>
             <div class="momo-column row-lg-1 row-md-1">
                  <div class="card" style="background-color:#a50022;">
                    <div class="card-body avc">
                      <div class="row geninm4">
                      <p style="color:white;font-size:1.5vw;margin-left:15%;"><b class="cc">CHOILA MOMO</b></p><img class="geninmimg4" src="image/chef.png" alt=""><p style="margin-top:1%;margin-left: 9%;color:#ffa628;font-size:1vw;"><b class="cc1">Delicious and classic</b></p><a class="cart-button cart-button4 btn btn-lg btn-warning" href="/order" type="button">
                        BUY NOW
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
</section>
<section class="third" id="offers">
<div id="testimonial-carousel" class="carousel slide" data-ride="false">
     <div class="carousel-inner">
       <div class="carousel-item container-fluid">
         <div class="special-offer fade">
           <div class="offers-column col-lg-3">
                <div class="card">
                  <div class="card-body">
           <h5 style="color:#a50022;"><b>SPECIAL OFFER</b></h5><img style="margin-left:95%;width:20px;height:20px;margin-top:-30%;" src="image/chef.png" alt="">
           <h1><b>SANDHEKO MOMO</b></h1>
           <p>
             Spicy and tangy pan fried dumplings tossed in traditional Nepalese tempered masala.
           </p><br>
           <h1 style="color:#a50022;">Rs 90</h1>
            <div class="buy-now-button">
           <div class="btn-group">
             <a class="btn btn-warning btn-large" style="color:white;" role="button" href="/order">Buy Now
             </a><a class="btn btn-large" style="background-color:#ffa628;" role="button" href="/order">
             <span class="carousel-control-next-icon"></span></a>
             <ul class="dropdown-menu">
             </ul>
           </div>
         </div>
         </div>
         </div>
         </div>
         <div class="special-offer-image">
         <img style="margin-left: 49%;margin-top: -36%;" src="image/m4.jpg" alt="">
       </div>
     </div>
   </div>
       <div class="carousel-item container-fluid">
         <div class="special-offer fade">
           <div class="offers-column col-lg-3">
                <div class="card">
                  <div class="card-body">
           <h5 style="color:#a50022;"><b>SPECIAL OFFER</b></h5><img style="margin-left:95%;width:20px;height:20px;margin-top:-30%;" src="image/chef.png" alt="">
           <h1><b>VEGAN MOMO</b></h1>
           <p>
             Nut free & Soy free.
           </p><br>
           <h1 style="color:#a50022;">Rs 90</h1>
            <div class="buy-now-button">
           <div class="btn-group">
             <a class="btn btn-warning btn-large" style="color:white;" role="button" href="/order">Buy Now
             </a><a class="btn btn-large" style="background-color:#ffa628;" role="button" href="/order">
             <span class="carousel-control-next-icon"></span></a>
             <ul class="dropdown-menu">
             </ul>
           </div>
           </div>
         </div>
         </div>
         </div>
         <div class="special-offer-image">
         <img  style="margin-left: 49.5%;margin-top: -32.5%;" src="image/m6.jpg" alt="">
     </div>
     </div>
   </div>
       <div class="carousel-item container-fluid">
         <div class="special-offer fade">
           <div class="offers-column col-lg-3">
                <div class="card">
                  <div class="card-body">
           <h5 style="color:#a50022;"><b>SPECIAL OFFER</b></h5><img style="margin-left:95%;width:20px;height:20px;margin-top:-30%;" src="image/chef.png" alt="">
           <h1><b>GLUTEN FREE <br>MOMO</b></h1>
           <p>
            Potato starch dumplings for guilt free cravings.
           </p><br>
           <h1 style="color:#a50022;">Rs 90</h1>
           <div class="buy-now-button">
           <div class="btn-group">
             <a class="btn btn-warning btn-large" style="color:white;" role="button" href="/order">Buy Now
             </a><a class="btn btn-large" style="background-color:#ffa628;" role="button" href="/order">
             <span class="carousel-control-next-icon"></span></a>
             <ul class="dropdown-menu">
             </ul>
           </div>
         </div>
         </div>
         </div>
         </div>
       <div class="special-offer-image">
         <img  style="margin-left: 49.5%;margin-top: -36%;" src="image/m7.jpg" alt="">
       </div>
       </div>
     </div>
     <div class="carousel-item container-fluid">
       <div class="special-offer fade">
         <div class="offers-column col-lg-3">
              <div class="card">
                <div class="card-body">
         <h5 style="color:#a50022;"><b>SPECIAL OFFER</b></h5><img style="margin-left:95%;width:20px;height:20px;margin-top:-30%;" src="image/chef.png" alt="">
         <h1><b>WHOLE WHEAT <br>MOMO</b></h1>
         <p>
          100% Atta momo for all the health enthusiasts.
         </p><br>
         <h1 style="color:#a50022;">Rs 90</h1>
          <div class="buy-now-button">
         <div class="btn-group">
           <a class="btn btn-warning btn-large" style="color:white;" role="button" href="/order">Buy Now
           </a><a class="btn btn-large" style="background-color:#ffa628;" role="button" href="/order">
           <span class="carousel-control-next-icon"></span></a>
           <ul class="dropdown-menu">
           </ul>
         </div>
         </div>
       </div>
       </div>
       </div>
       <div class="special-offer-image">
       <img style="margin-left: 49.5%;margin-top: -36%;" src="image/m8.jpg" alt="">
   </div>
   </div>
 </div>
     <div class="row">
     <span class="dot" ></span>
     <span class="dot"></span>
     <span class="dot"></span>
      <span class="dot"></span>
   </div>
 </div>
 </div>
</section>
<section class="service-section">
  <div class="service-background">
    <img src="image/images (7).jpg" alt="">
    <div class="late-night">
    <h1 style="font-size:9vw;">Late Night<br>Momo</h1>
    <h4>DAILY</h4>
    <h5>11 PM - 3 AM</h5>
  </div>
  </div>
</section><br><br><br>
<section class="order-section">
  <div class="row">
    <div class="service-column">
    <h4><B> Take-out Service </B></h4>
    <div class="row service-columnh6">
    <h6 class="available" style="margin-left:15%;"><B> Available Daily </B></h6><h6 class="dot1" style="margin-left:10%;"><B>.</B></h6><h6 class="time" style="margin-left:7%;"><B> 5pm - 9pm </B></h6>
    </div>
</div>
<div class="card-image">
    <img src="image/payment-methods.png" alt="">
<div class="order-button">
<div class="btn-group">
<a class="btn btn-light btn-large" role="button" href="/order">Order online now!
</a><a class="btn btn-large"  style="background-color:#a50022;" role="button" href="/order">
<span class="carousel-control-next-icon"></span></a>
<ul class="dropdown-menu">
</ul>
</div>
</div>
</div>
</div>
</section>

  <script>
var slideIndex = 0;
showSlides();
function showSlides() {
  var i;
  var slides = document.getElementsByClassName("carousel-item");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>


<%- include('partials/footer') %>
