<%- include('partials/header') %>

  <section class="first" id="home">
      <img src="image/(1).jpg" class="parallax" alt="">
        <div class="second">
        <div class="second-text">
          <!-- Nav Bar -->
         <div class="toplogo">
         <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
         </div>
             <nav class="navbar navbar-expand-lg navbar-dark">

               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                   <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                 <ul class="navbar-nav">
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/main1">HOME</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/menu1">MENU</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href="/order1">ORDER</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link1" style="color:white;" href="/catering1">CATERING</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link2" style="color:white;" href="/about1">ABOUT</a>
                   </li>
                   <li class="nav-item">
                     <a class="nav-link3" style="color:white;" href="/location1">LOCATION</a>
                   </li>
                 </ul>

               </div>
             </nav>
     <div class="about-us">
       <h2>Menu</h2>
       <h4>Experience the spirit of the Himalayan hospitality at our fine dine in<br>restuarents.Furnished in warm wood, we incorporate traditional design<br>elements to give you that authentic Asian feel. We welcome everyone who<br>walks through out door, and our staff will do their best to accommodate all<br>your needs.</h4>
     </div>
     </div>
   </div>
 </section>
   <section id="ab-about" style="margin-top:-10%;">
     <div class="first-menu">
     <div class="row">
    <div class="menu">
      <img class="meimg" src="image/m1.jpg" alt="">
      <h4><B>KOTHEY MOMO</B></h4>
      <p>Signature Nepalese Style - half steamed & pan freid momo</p>
    </div>
    <div class="menu1">
      <img class="meimg" src="image/m2.jpg" alt="">
      <h4><B>STEAMED MOMO</B></h4>
      <p>Traditional delicacy straight from the Himalayas</p>
    </div>
    <div class="menu2">
      <img class="meimg" src="image/m3.png" alt="">
      <h4><B>JHOL MOMO</B></h4>
      <p>Steamed dumplings drowned in flavourful curry soup</p>
    </div>
    <div class="menu3">
      <img class="meimg" src="image/m4.jpg" alt="">
      <h4><B>SANDHEKO MOMO</B></h4>
      <p>Spicy and tangy pan fried dumplings tossed in traditional Nepalese tempered masala </p>
    </div>
  </div>
</div>
<div class="second-menu">
  <div class="row">
 <div class="menu">
   <img class="meimg" src="image/m5.png" alt="">
   <h4><B>CHOILA MOMO</B></h4>
   <p>Delicious and classic momo paired with hot and spicy Nepalese sauce</p>
 </div>
 <div class="menu1">
   <img class="meimg" src="image/m6.jpg" alt="">
   <h4><B>VEGAN MOMO</B></h4>
   <p>Nut free & Soy free</p>
 </div>
 <div class="menu2">
   <img class="meimg" src="image/m7.jpg" alt="">
   <h4><B>GLUTEN FREE MOMO</B></h4>
   <p>Potato starch dumplingsfor guilt free cravings</p>
 </div>
 <div class="menu3">
   <img class="meimg" src="image/m8.jpg" alt="">
   <h4><B>WHOLE WHEAT MOMO</B></h4>
   <p>100% Atta momo for all the health enthusiasts</p>
 </div>
</div>
</div>
<div class="second-menu">
<div class="row">
<div class="menu">
 <img class="meimg" src="image/m9.jpg" alt="">
 <h4><B>THUKPA MOMO</B></h4>
 <p>Healthy & Nutritious tibetian soup with a twist of momo</p>
</div>
<div class="menu1">
 <img class="meimg" src="image/m10.jpg" alt="">
 <h4><B>MALAYSIAN LAKSA MOMO</B></h4>
 <p>Rich & Spicy coconut curry both with your choice of momo immersed in it</p>
</div>
<div class="menu2">
 <img class="meimg" src="image/m11.png" alt="">
 <h4><B>DESSERT</B></h4>
 <p>Hazelnut & Dark chocolate<br>momo to satify your sweet<br>tooth</p>
</div>
</div>
</div>
<a class="btn btn-block btn-dark addtc" style="width:20%;margin-top:10%;margin-left:40%;"type="button" href="/order1">MAKE A ORDER</a>
   </section>

<%- include('partials/footer1') %>
