<%- include('partials/header') %>
  <section class="first" id="home">
       <div class="second">
         <img class="parallax" src="image/(1).jpg" alt="">
         <a style="margin-top:-105%;margin-left:80%;" class="btn btn-warning" href="/cart1"><i class="fa fa-shopping-cart"></i></a>
         <div class="login">
                 <a class="btn btn-outline-light" style="margin-left:-30%;" href="login">Login</a>
                  <a class="btn btn-outline-light" href="register">Register</a></div>
         <div class="second-text">

           <!-- Nav Bar -->
        <div class="toplogo">
          <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
        </div>
              <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" style="color:white;" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:white;" href="/menu">MENU</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:white;" href="/order">ORDER</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link1" style="color:white;" href="/catering">CATERING</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link2" style="color:white;" href="/about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link3" style="color:white;" href="/location">LOCATION</a>
                    </li>
                  </ul>

                </div>
              </nav>
      <div class="about-us">
        <h2>Order</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br />incididunt ut labore et dolore magna aliqua. </h4>
      </div>
      </div>
    </div>
  </section>
    <section id="ab-about">
 <div class="offers-order">
   <h4 id="momo-head" style="margin-left:4%; color:white;">MOMOS</h4>
 </div>
 <div class="row">
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m1.jpg" alt="">
   <h5><B>KOTHEY MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
  <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
  <div class="text-component text-right adadbt">
    <p class="flex flex-wrap flex-right flex-gap-xxs">
<a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
</p>
</div>
</div>
</div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m2.jpg" alt="">
   <h5><B>STEAMED MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m3.png" alt="">
   <h5><B>JHOL MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
   </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m4.jpg" alt="">
   <h5><B>SANDHEKO MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m5.png" alt="">
   <h5><B>CHOILA MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
   </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m6.jpg" alt="">
   <h5><B>VEGAN MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m7.jpg" alt="">
   <h5><B>GLUTEN FREE MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
   </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m8.jpg" alt="">
   <h5><B>WHOLE WHEAT MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m9.jpg" alt="">
   <h5><B>THUKPA MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m10.jpg" alt="">
   <h5><B>MALAYSIAN LAKSA MOMO</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 <div class="order-offer">
   <img class="meimg" style="width:100%;" src="image/m11.png" alt="">
   <h5><B>DESSERT</B></h5>
   <div class="row" style="margin-left:3%;margin-top:5%;padding-bottom:5%;">
     <h5 style="margin-left:5%;"><b>Rs </b>90 (8 pieces)</h5>
     <div class="text-component text-center adadbt">
       <p class="flex flex-wrap flex-center flex-gap-xxs">
   <a href="/login" class="btn btn-outline-light addtc" style="color: white; background-color:#a50022; width:100%; margin-left:80%;" role="button"> ADD</a>
   </p>
   </div> </div>
 </div>
 </div>
    </section>

<%- include('partials/footer') %>
