<%- include('partials/header') %>
<section class="first" id="home">
    <div class="second">
      <img class="parallax" src="image/(1).jpg" alt="">
</div>
      <div class="second-text">

        <!-- Nav Bar -->
     <div class="toplogo">
       <img style="width:6%;position:absolute;margin-left:47%;margin-top:-1%;" src="image/oo.png" alt="">
     </div>
           <nav class="navbar navbar-expand-lg navbar-dark">

             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

               <ul class="navbar-nav">
                 <li class="nav-item">
                   <a class="nav-link" style="color:white;" href="/">HOME</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" style="color:white;" href="/menu">MENU</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" style="color:white;" href="/order">ORDER</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" style="color:white;" href=""><img class=""style="" src="" alt=""></a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link1" style="color:white;" href="/catering">CATERING</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link2" style="color:white;" href="/about">ABOUT</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link3" style="color:white;" href="/location">LOCATION</a>
                 </li>
               </ul>

             </div>
           </nav>
   <div class="about-us">
     <h2>Subscribed !</h2>
     <h4>You Have Subscribed Successfully In Our Site.</h4>
   </div>
 </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
<%- include('partials/footer') %>
